.login-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;

  .login-form {
    padding: 30px;
    border: 1px solid rgba(0, 0, 0, 0.158);
    border-radius: 10px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mat-form-field {
      width: 100%;
    }

    .login-btn {
      margin-right: 10px;
    }
  }
}